﻿@model TP3.Models.SD_PRODUITS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SD_PRODUITS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NON_DISPONIBLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NON_DISPONIBLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEILLEUR_VENDEUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEILLEUR_VENDEUR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIQUIDATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIQUIDATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOUVEAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOUVEAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STYLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STYLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SD_MARQUES.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SD_MARQUES.NOM)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
