﻿@model TP3.Models.SD_PRODUITS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SD_PRODUITS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NON_DISPONIBLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NON_DISPONIBLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEILLEUR_VENDEUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEILLEUR_VENDEUR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIQUIDATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIQUIDATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOUVEAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOUVEAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STYLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STYLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SD_MARQUES.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SD_MARQUES.NOM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
