﻿@model IEnumerable<TP3.Models.SD_PRODUITS>

@{
    ViewBag.Title = "Nos produits";
}

<h2>Nos produits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model != null)
{
    <h3>Voici les @Model.Count() items répondant à votre recherche</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRIX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NON_DISPONIBLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACTIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MEILLEUR_VENDEUR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LIQUIDATION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOUVEAU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STYLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SD_MARQUES.NOM)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRIX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NON_DISPONIBLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACTIF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MEILLEUR_VENDEUR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LIQUIDATION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOUVEAU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STYLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SD_MARQUES.NOM)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
}
else
{ 
<h3>Aucun article ne correspond à votre recherche</h3>
}