﻿@model TP3.Models.SD_CATEGORIES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SD_CATEGORIES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SD_CATEGORIES2.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SD_CATEGORIES2.NOM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
