﻿@model IEnumerable<TP3.Models.SD_PRODUITS>
@ViewBag.lstIMG
@{ var imgLien = "";}
@{
    ViewBag.Title = "Skate Depot Store";
}

<h2>Produits Vedettes</h2>

<table class="tableIndex">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIX)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @foreach (var img in ViewBag.lstIMG)
    {
        if (img.PRODUITS_ID == item.ID)
        {
            imgLien = img.IMAGE;
        }
    }
                <img src="@imgLien" alt="Image" width="300" />
                @Html.ActionLink("Details", "../Produits/Details", new { id = item.ID })
            </td>
            <td class="indexNom">
                @Html.DisplayFor(modelItem => item.NOM)
            </td>
            <td class="indexPrix">
                @Html.DisplayFor(modelItem => item.PRIX)
            </td>
            <td class="indexStatus">
                @if (item.MEILLEUR_VENDEUR == "1")
                {
                    <p>Meilleur Vendeur</p>
                }
                else if (item.LIQUIDATION == "1")
                {
                    <p>Liquidation!</p>
                }
                else
                {
                    <p>Nouveau!</p>
                }
            </td>
        </tr>

    }
</table>
